<html  lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Contests</title>

    <link href="{{ url_for('static', filename='../statics/css/bootstrap/bootstrap.css') }} " rel="stylesheet" />
    <link href="{{ url_for('static', filename='../statics/css/bootstrap/bootstrap-theme.css') }} " rel="stylesheet" />
    <link href="{{ url_for('static', filename='../statics/css/sweetalert.css') }} " rel="stylesheet" />
    <link href="{{ url_for('static', filename='../statics/css/jquery.countdown.css') }} " rel="stylesheet" />
    <link href="{{ url_for('static', filename='../statics/css/bootstrap-datetimepicker.min.css') }} " rel="stylesheet" />
    <link href="{{ url_for('static', filename='../statics/css/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='../statics/css/fileinput.min.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='../statics/js/jquery-2.1.3.js') }}" /></script>
    <script src="{{ url_for('static', filename='../statics/js/fileinput.min.js') }}" /></script>
    <script src="{{ url_for('static', filename='../statics/js/sweetalert.min.js') }}" /></script>
    <script src="{{ url_for('static', filename='../statics/js/jquery.countdown.min.js') }}" /></script>
	
    <script src="{{ url_for('static', filename='../statics/js/bootstrap/bootstrap.js') }}" /></script>
	<script src="{{ url_for('static', filename='../statics/js/jquery.nicescroll.min.js') }}" /></script>
	<script src="{{ url_for('static', filename='../statics/js/moment.min.js') }}" /></script>
	<script src="{{ url_for('static', filename='../statics/js/bootstrap-datetimepicker.min.js') }}" /></script>	    
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
 


<body>
	<ul class=" col-xs-3 col-md-2 leftmenu shadow " id="leftmenu" >
		
		<li class=" usernameitem " id="usernameitem">
			<a href="#"><h4 id="getusername" class="leftmenuitem"></h4></a>
			<a ><h4 id="getidprof" class="leftmenuitem" style="display:none"></h4></a>
		</li>			
		<li  id="contest"  >
			
		 	<a href="#" ><h4 class="leftmenuitem"><i  class="fa fa-laptop" style="width:20px; height:20px;"> </i> Contests</h4></a>
		</li>
		
		<li  id="team"  >
		 	<a href="#"><h4 class="leftmenuitem"><i class="fa fa-group" style=" width:20px; height:20px; "></i> Teams</h4></a>
		</li>
		
		<li  id="users"  style="display:none" >
		 	<a href="#users"><h4 class="leftmenuitem"><i class="fa fa-user" style="width:20px; height:20px; "></i> Users</h4></a>
		</li>
		
		<li  id="setting"  >
		 	<a href="/user/setting/"><h4 class="leftmenuitem"><i class="fa fa-gears" style=" width:20px; height:20px; "></i> Settings</h4></a>
		</li>
		
		<li  id="logout"   >
		 	<a href="#logout"><h4 class="leftmenuitem"><i class="fa fa-sign-out" style=" width:20px; height:20px; "></i> Log out</h4></a>
		</li>
		<li  id="backtoprofile" class="backtoprofile" style="display:none" >
		 	<a ><h4 class="leftmenuitem"><i class="fa fa-mail-reply"style=" width:20px; height:20px; "></i>Back to profile</h4></a>
		</li>

	</ul>
	<ul class=" col-xs-3 col-md-2 leftmenu shadow " id="contestleftmenu" style="display:none">
		
		<li class=" usernameitem " id="contestnameitem">
			<a ><h4 id="getcontestname" class="leftmenuitem"></h4></a>
			<h4 id="getidcontest" style="display:none"></h4>
		</li>	
		
		<li  id="questions" class=" usernameitem " >
			
		 	<a href="#questions" ><h4 class="leftmenuitem"><i  class="fa fa-code" style="width:20px; height:20px;"> </i> Problems</h4></a>
		</li>
		
		<li  id="rank" >
			
		 	<a href="#ranking"><h4 class="leftmenuitem"><i  class="fa fa-area-chart" style="width:20px; height:20px;"> </i> Rank list</h4></a>
		</li>
		
		<li  id="contestteam"  style="display:none">
		 	<a href="#teams"><h4 class="leftmenuitem"><i class="fa fa-group" style=" width:20px; height:20px; "></i> Teams</h4></a>
		</li>
		
		<li  id="backtoprofile" class="backtoprofile" >
		 	<a href="#back" ><h4 class="leftmenuitem"><i class="fa fa-mail-reply"style=" width:20px; height:20px; "></i> Back to profile</h4></a>
		</li>

	</ul>

	<div id="createContest" class="form-dialog">
        <div>
            <a href="#" title="Close" class="close-button">X</a>
            <form>
                <div class="question">
                    <input type="text" id="contest_name" required/>
                    <label>Contest Name</label>
                </div>
                <label style="margin-top:10px;">starts</label>
                <div class='input-group date' id='contest_start'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
		        <script type="text/javascript">
		            $(function () {
		                $('#contest_start').datetimepicker();
		            });
		        </script>
                <!--
                <input type="date" required id="contest_start_date" style="width:100%;margin-top:-8px;" />
                <input type="time" required id="contest_start_time" style="width:100%;margin-top:2px;" />
                
                <input type="datetime-local" required id="contest_start" style="width:100%;margin-top:-8px;" />
                -->
                <label style="margin-top:10px;">ends</label>
                <div class='input-group date' id='contest_end'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
		        <script type="text/javascript">
		            $(function () {
		                $('#contest_end').datetimepicker();
		            });
		        </script>
                <!--
                <input type="date" required id="contest_end_date" style="width:100%;margin-top:-8px;" />
                <input type="time" required id="contest_end_time" style="width:100%;margin-top:2px;" />
                
                <input type="datetime-local" required id="contest_end" style="width:100%;margin-top:-8px;" />
                -->
                <button id="create_contest_button" type="submit" class="submit-button">Submit</button>
            </form>
        </div>
    </div>
    
<div class="col-xs-offset-3 col-md-offset-2 row">
	<div id="maintitr" class="col-xs-9 col-md-10 maintitr">
		<p id="titlePage">Contests</p>
		<div id="createcontestdiv" ><a href="#createContest"><button class="hover-button close-page">Create  Contest</button></a></div>
		<div id="addproblemdiv" style="display:none"><a href="#addProblem"><button id="addproblembtn" class="hover-button close-page">Add problem</button></a></div>
	</div>
	<div id="problemhead" class="col-xs-9 col-md-10 maintitr" style="display:none">
		<input type="button" id="backtoproblemlistbtn" class="hover-button " value="Back to contest"/>
		<div id="time"></div>
		<p id="orderproblem" class="contestproblem " ></p>
		<p id="titleproblem" class="contestproblem "></p>
		<p id="idproblem" class="contestproblem " style="display:none"></p>
		<p id="idteam" class="contestproblem " style="display:none"></p>
		
	</div>
</div>
   
	<div class="col-xs-offset-3 col-md-offset-2 row">
      	<div id="contents" class="contents  " >
			<div id="contestinfoforusers"class="CSSTableGenerator" style="display:none">					
				<table id="contestinfo">
				   <tr>
					   <td style="display:none"> id </td>
					   <td > Name </td>
					   <td > Sart on </td>
					   <td> End on </td>
					   <td >Team</td>				     
					</tr>
				</table>
			</div>
            <div id="contestinformation" class="CSSTableGenerator" style="display:none">
					<input type="button" id="editcontestbtn" class="btn btn-primary" value="edit" style="display:none"/>
					<input type="button" id="jointocontestbtn" class="btn btn-primary" value="Join to this contest" style="display:none"/>
				</div>            
            <div id="contestquestions" class="CSSTableGenerator" style="display:none">
				<table id="contestquestionslist">
				   <tr> 
					   <td style="display:none"> order </td>
					   <td > order </td>
					   <td > Title </td>							 
					</tr>
				</table>
			</div>
			<div id="contestaddquestions" style="display:none; margin:3%;">
				Problem details:
				<hr>
				<label class="labelcss" for="problemtitle">Title: </label>
				<input type="text" name="problemtitle" id="problemtitle" style="width:85%"/><br><br>
				<div class="row"> 
					<label class="labelcss" for="problemtimelimit">Time limit: </label>
					<input type="text" name="problemtimelimit" id="problemtimelimit" style="margin-right:3%; width:35.5%"/>
					<label class="labelcss" for="problemspacelimit">Space limit: </label>
					<input type="text" name="problemspacelimit" id="problemspacelimit" style="width:35.5%"/><br>
				</div>
				<label class="labelcss" for="problemheader">Header: </label>
				<textarea class="textareacss" name="problemheader"  id="problemheader"></textarea><br>
				<label class="labelcss" for="problembody">Body: </label>
				<textarea class="textareacss" name="problembody" id="problembody" ></textarea><br>
				<label class="labelcss" for="problembody">Footer: </label>
				<textarea class="textareacss" name="problemfooter" id="problemfooter" ></textarea><br>
				<hr>
				sample Testcase:<br>
				<div>
					<input id ="file_input" type="file" >
				<!--<input type="submit">-->

					<button id = "sub">submit testcase</button>
				
				</div>
				<div class="testcase" id="problemtestcase" >
					<hr>
					<label class="labelcss" for="problemtestcaseinput">Input: </label>
					<textarea class="textareacss" name="problemtestcaseinput" id="problemtestcaseinput" ></textarea><br>
					<label class="labelcss" for="problemtestcaseoutput">Output: </label>
					<textarea class="textareacss" name="problemtestcaseoutput" id="problemtestcaseoutput" ></textarea><br>
				</div>
				<hr>
				<div>
					<button type="submit" id="cancleproblemsubmitbtn" class="btn btn-primary" style="width:15.5%"> Cancle</button>
					<button type="submit"id="addproblemsubmitbtn"  class="btn btn-primary" style="width:15.5%"> Add</button>
									
					<button type="submit" id="editproblemsubmitbtn" class="btn btn-primary" style="width:15.5%"> Submit edit</button>
				</div>
				
			</div>
			<div id="contestquestion"  style="display:none">
				<div id="contentproblem" class="col-xs-12 col-md-11  contestproblem row">
					<p  >: محدودیت حافظه</p>
					<div id="contestspacelimitdiv" class="row  "></div><hr>
					<p  >: محدودیت زمانی</p>
					<div id="contesttimelimitdiv" class="row  "></div><hr>
					<div id="contestheaderdiv" class="row  "></div><hr>
					<div id="contestbodydiv" class="row"></div><hr>
					<div id="contestfooterdiv" class="row"></div><hr>
					
					<div id="contestlanguageproblem"  class="row">
						
					 <ul class="nav nav-pills">
						 
						  <li id="cpp" data-toggle="pill" ><a href="#">C++</a></li>
						  <li id="py" data-toggle="pill" ><a href="#">PYTHON</a></li>
						  <li id="java" data-toggle="pill"><a href="#">JAVA</a></li>
						</ul>
						
					</div>											
				</div>
				
				<div class="row" id="contesttestcaseexamplediv" >
					<hr>
					<label class="labelcss" for="problemtestcaseinput">Input: </label>
					<textarea class="textareacss" name="problemtestcaseinput" id="testcaseinput" ></textarea><br>
					<label class="labelcss" for="problemtestcaseoutput">Output: </label>
					<textarea class="textareacss" name="problemtestcaseoutput" id="testcaseoutput" ></textarea><br>
				</div>

				<div id="contestquestionsubmit" class="col-xs-12 col-md-11  row" style="display:none">
					
					<input id="input-700" name="kartik-input-700[]" type="file" multiple class="file-loading">	        
				</div>
				<div id="contesteditproblems" class="col-xs-12 col-md-11  row" style="display:none">
					<input type="button" id="editproblemtbtn" class="btn btn-primary" value="Edit problem"/>					        
				</div>
			</div>
			<div id="contestrank" class="CSSTableGenerator" style="display:none">
				<table id="contestranklist">
                   <tr>
					   <td style="display:none"> id </td>
					   <td > Team name</td>
					   <td > Problems Solved </td>
					   <td> Rank </td>
					     
					</tr>
                </table>
				</div>
			<div id="contestteams" class="CSSTableGenerator" style="display:none">
				<table id="contestteamstbl">
					<tr>						  
						<td > Team name </td>
						<td > Admin </td>
						<td > Members </td>
						<td> Accept or Reject </td>	
					</tr>
				</table>
			</div>						 
	    </div>	  
   	</div>  
</body>

<script>

	var problemnumber=0;
	var canedit="no";
	var contestid =null;
	var contestname=null;
	var loc = window.location;
	var flagproblemlist=false;
	var flagteamlist=false;
	var userlogin=null;
	var userloginid=null;
	var username=null;
	var problemid=null;
	var teamid=null;
	// get userlogin
	$.ajax({
            type: "GET",
            url : '/user/get_profile/',
            dataType: "html", 				
            success: function (data) {
			 userlogin=(JSON.parse(data)).username;
          	userloginid=(JSON.parse(data)).id;	
            },
           error: function (request) {                
				sswal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ;        	      		
      		}
		
		});
		
	function checkifadmin(username){
		 if(username===userlogin){
           document.getElementById('contestteam').style.display = 'block';
           $('#contesteditproblems').show(1000);
           $('#editcontestbtn').show(1000);
           document.getElementById('jointocontestbtn').style.display = 'none';
			canedit="yes";
			}
           else{
			   $('#contestquestionsubmit').show(1000);
			  document.getElementById('jointocontestbtn').style.display = 'block';
			   
			   }		 
	}
	//change profile
	function changeprofile(username){
			document.title = username;
			document.getElementById('backtoprofile').style.display = 'block';
			document.getElementById('logout').style.display = 'none';
			document.getElementById('users').style.display = 'none';
			document.getElementById('setting').style.display = 'none';			
			document.getElementById('createcontestdiv').style.display = 'none';		
					 
}
	function checkprofile(username){
		 $.ajax({
            type: "GET",
            url : '/user/get_profile/',
            dataType: "html", 				
            success: function (data) {
			 userlogin=(JSON.parse(data)).username;
           if(username===userlogin){
			   
          /* document.getElementById('info').style.display = 'none';*/	}
           else{
			  changeprofile(username);
			   
			   }				
            },
           error: function (request) {                
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ;  	      	      		
      		}
		
		});
	}
	function convertUTCDateToLocalDate(date) {
		var d=moment.utc(date).local();
		var s = d.format("YYYY-MM-DD HH:mm:ss");	
		return (s);   
	}
	if(getAbsolutePath()==="/contest/"){
	  contestid = '{{contest_id }}';
	 $( '#getidcontest ' ).html(contestid);	
	  $.ajax({
            type: "GET",
            url : "/contest/by_id/"+contestid+"/",
            dataType: "html", 				
            success: function (data) {
				$('#contestinformation').append(data);
				 contestname=(JSON.parse(data)).name;
				var contestadmin=(JSON.parse(data)).owner.username;
				checkifadmin(contestadmin);
				 changecontestpage(contestname);				
            },
           error: function (request) {                
				swal("Sorry", request.errors) ;  	      	      		
      		}
		}); 
		 	
	}
	else{
		$('#contestinfoforusers').show(1000);
		var id = '{{user_id }}'; 
		
		 $.ajax({
            type: "GET",
            url : "/user/get_profile/by_id/"+id+"/",
            dataType: "html",
            contentType: "application/json", 				
            success: function (data) {
		        username=(JSON.parse(data)).username;
				checkprofile(username);
				$( '#getusername ' ).html(username);
				$( '#getidprof ' ).html(id);	
            },
           error: function (request) { 
			    swal("Sorry!", (JSON.parse(request.responseText)).errors, "error");                     	      		
      		}
		});
		 $.ajax({
            type: "GET",
            url : "/user/"+id+"/teams/",
            dataType: "html", 				
            success: function (data) {			
		        var data=(JSON.parse(data)).teams;
		        for (var i = 0; i < data.length; i++) {
					var teamname=data[i].name;
					var teamitem=data[i].contests;	
					for (var j = 0;j < teamitem.length; j++) {				
						tr = $('<tr id="Q'+i+'">');		
						tr.append('<td  style="display:none">' + data[i].id + "</td>");
						tr.append('<td> <a href="#"  id="'+teamitem[j].name+'">' + teamitem[j].name + "</a></td>");
						tr.append("<td>" +convertUTCDateToLocalDate(teamitem[j].starts_on) + "</td>");
						tr.append("<td>" + convertUTCDateToLocalDate(teamitem[j].ends_on) + "</td>");
						tr.append('<td><a href="#" id="'+teamname+'">' + teamname + '</a></td></tr>');
						$('#contestinfo').append(tr);
					$(("#" + teamname)).attr("href",("/team/"+teamname+"/"));
					$(("#" + teamitem[j].name)).attr("href",("/contest/"+teamitem[j].name+"/"));
					}
					
				}
            },
           error: function (request) { 
			    swal("Sorry!", (JSON.parse(request.responseText)).errors, "error");                     	      		
      		}
		});
 
 $('#contest').css('background-color', '#355C7D');
 }
	function changecontestpage(contestname){		
		document.title = contestname;
		$( '#getcontestname ' ).html(contestname);
		$('#contestleftmenu').show();
		$('#contestinformation').show(1000);
		document.getElementById('leftmenu').style.display = 'none';
		document.getElementById('contestinfoforusers').style.display = 'none';
		document.getElementById('createcontestdiv').style.display = 'none';
		document.getElementById('titlePage').innerHTML="Details" ;
		$('#questions').css('background-color', '#1B325F');
		$('#rank').css('background-color', '#1B325F');
		$('#team').css('background-color', '#1B325F');
		$('#backtoprofile').css('background-color', '#1B325F');
		
							
		}
	function getAbsolutePath() {
    
    var pathName = loc.pathname.substring(0, 9);
    return pathName;
}
	function loadquestiondiv(id){	
	document.getElementById('contestinfoforusers').style.display = 'none';
	document.getElementById('maintitr').style.display = 'none';
	$('#problemhead').show(1000);
	document.getElementById('contestinformation').style.display = 'none';
	document.getElementById('contestquestions').style.display = 'none';
	$('#contestquestion').show(1000);
	document.getElementById('contestrank').style.display = 'none';	
	document.getElementById('contestaddquestions').style.display = 'none';
	 document.getElementById('addproblemdiv').style.display = 'none';
	 problemid=(parseInt(id)+1);
	 $('#contestteam').css('background-color', '#1B325F');
	 $('#questions').css('background-color', '#355C7D');
	 //show problem
	 $.ajax({
            type: "GET",
            url :"/contest/"+contestid+"/problems/"+(parseInt(id)+1)+"/",
            dataType: "html",  				
            success: function (data) {
			document.getElementById('titleproblem').innerHTML=((JSON.parse(data)).title) ;	
			document.getElementById('orderproblem').innerHTML=((JSON.parse(data)).order);
			problemid=((JSON.parse(data)).id);
			$("#contestspacelimitdiv").html((JSON.parse(data)).space_limit);
			$("#contesttimelimitdiv").html((JSON.parse(data)).time_limit );
			$("#contestheaderdiv").html((JSON.parse(data)).header);
			$("#contestbodydiv").html((JSON.parse(data)).body);
			$("#contestfooterdiv").html((JSON.parse(data)).footer);
			if(((JSON.parse(data)).testcases)!=""){
		
				$("#testcaseinput").html(((JSON.parse(data)).testcases[0]).input);
				$("#testcaseoutput").html(((JSON.parse(data)).testcases[0]).output);
			}
			else{
				$("#contesttestcaseexamplediv").hide();
				
			}
			$("#idproblem").html((JSON.parse(data)).id);					
							
            },
          error: function (request, status, error) { 
			    
					swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ;  
			         
           }   
    });
   

    $.ajax({
            type: "GET",
            url :"/user/"+userloginid+"/contest/"+contestid+"/",
            dataType: "html",
            contentType: "application/json",		 				
            success: function (data) {
				teamid=((JSON.parse(data)).id);
				$("#idteam").html((JSON.parse(data)).id);
				//alert("/submit/"+contestid+"/"+((JSON.parse(data)).id)+"/"+(parseInt(id)+1)+"/"++"/");
				var filetype=null;
				$('ul.nav-pills li a').click(function (e) {
					filetype=( $(this).parent('li').attr('id'));

					$("#input-700").fileinput({		
						showUpload: true,
						 uploadUrl: "/contest/submit/"+contestid+"/"+((JSON.parse(data)).id)+"/"+(parseInt(id)+1)+"/"+filetype+"/",
						 uploadAsync: true,
						 //enable: "true",
						 maxFileCount: 1
													
					}); 
		
						$('#input-700').on('fileuploaded', function(event, data, previewId, index) {
								var response = data.response;
								if(response.status !="Accepted"){
								 swal("OoOops!!!", "You have:"+response.status, "error");
								}else{
									swal("Accepted!","Your answer submit successfully", "success");
								}
									 $('#input-700').fileinput('clear');

							
						});
						$('#input-700').on('fileuploaderror', function(event, data, previewId, index) {
							  
						});
				});
						
			},
          error: function (request, status, error) { 
		   swal("Sorry!", (JSON.parse(request.responseText)).errors, "error");
							              
           }  
    });
    
  
   
}


//show question list
$("#questions").click(function() { 
	
  $.ajax({
            type: "GET",
            url :"/contest/"+contestid+"/problems/",
            dataType: "html",  				
            success: function (data) {
			reset();//added by milad
			document.getElementById('titlePage').innerHTML="Problems" ;
			document.getElementById('contestinfoforusers').style.display = 'none';
			$('#maintitr').show(1000);
			document.getElementById('contestinformation').style.display = 'none';
			document.getElementById('problemhead').style.display = 'none';
			$('#contestquestions').show(1000);
			document.getElementById('contestquestion').style.display = 'none';
			//document.getElementById('contestrank').style.display = 'none';	
			//document.getElementById('contestteams').style.display = 'none';	
			document.getElementById('contestaddquestions').style.display = 'none';
			 $('#contestteam').css('background-color', '#1B325F');
			 $('#questions').css('background-color', '#355C7D');
			 if (canedit==="yes"){
				 document.getElementById('addproblemdiv').style.display = 'block';		
			 }
           	var data=(JSON.parse(data)).problems;
				 var tr;
				 problemnumber=data.length;
				 if(flagproblemlist==false){
			for (var i = 0; i < data.length; i++) {
				tr = $('<tr id="Q'+i+'">');
		
				tr.append('<td  style="display:none">' + data[i].id + "</td>");
				tr.append("<td>" + data[i].order + "</td>");
				tr.append("<td>" + data[i].title + "</td></tr>");
				//tr.append("<td>" + data[i].contests.ends_on + "</td>");
				//tr.append("<td>" + data[i].name + "</td>");
				$('#contestquestionslist').append(tr);
			}		
				$('td').click(function(){
					id = $(this).closest('tr').attr('id');
					loadquestiondiv(id[1]);						
				});	
				flagproblemlist=true;
				}	
            },
         		error: function (request, status,error) {					
			  swal("Sorry!", (JSON.parse(request.responseText)).errors, "error"); 
			  
					               
           }   
    });
  
 });
 
 $("#editproblemtbtn").click(function() {
	$('#maintitr').show(1000);
	 document.getElementById('problemhead').style.display = 'none';
	document.getElementById('titlePage').innerHTML="Edit Problems" ;
	document.getElementById('addproblemsubmitbtn').style.display = 'none';
	document.getElementById('editproblemsubmitbtn').style.display = 'block';
	document.getElementById('contestinfoforusers').style.display = 'none';
	document.getElementById('contestinformation').style.display = 'none';
	document.getElementById('contestquestions').style.display = 'none';
	$('#contestaddquestions').show(1000);
	document.getElementById('contestquestion').style.display = 'none';
	document.getElementById('contestrank').style.display = 'none';	
	document.getElementById('contestteams').style.display = 'none';	
	 $('#contestteam').css('background-color', '#1B325F');
	 $('#questions').css('background-color', '#355C7D');		
			//$("#contesttestcaseexamplediv").val();
	 $("#problemtitle").val($("#titleproblem").text());
	 $("#problemtimelimit").val($("#contesttimelimitdiv").text());
	 $("#problemspacelimit").val($("#contestspacelimitdiv").text());
	 $("#problemheader").val($("#contestheaderdiv").text());
	 $("#problembody").val($("#contestbodydiv").text());
	 $("#problemfooter").val($("#contestfooterdiv").text()); 
	 $("#problemtestcaseinput").val($("#testcaseinput").text());  
	 $("#problemtestcaseoutput").val($("#testcaseoutput").text()); 			
		 
 });
 $("#editproblemsubmitbtn").click(function() {
	var problemtitle = $("#problemtitle").val();
	var problemtimelimit = $("#problemtimelimit").val();
	var problemspacelimit = $("#problemspacelimit").val();
	var problemheader = $("#problemheader").val();
	var problembody = $("#problembody").val();
	var problemfooter = $("#problemfooter").val(); 
	var problemtestcaseinput = $("#problemtestcaseinput").val();  
	var problemtestcaseoutput = $("#problemtestcaseoutput").val();
	//var problemid=$("#idproblem").val();
	var datawotestcase='{"problems": [{ "id":"'+problemid+'" ,"title": "' + problemtitle + '", "time_limit" : "' + problemtimelimit + '", "space_limit" : "' + problemspacelimit + '", "header" : "' + problemheader + '", "body" : "' + problembody + '", "footer" : "' + problemfooter + '"}]}';
	var datawtestcase='{"problems": [{"id":"'+problemid+'","title": "' + problemtitle + '", "time_limit" : "' + problemtimelimit + '", "space_limit" : "' + problemspacelimit + '", "header" : "' + problemheader + '", "body" : "' + problembody + '", "footer" : "' + problemfooter + '","testcases": [ {"id":"1" ,"order":"1" , "input":"'+problemtestcaseinput+'" ,"output":"'+problemtestcaseoutput+'" } ]}]}';
	if(problemtestcaseinput=="" && problemtestcaseoutput==""){
		var obj = datawotestcase;
	}
	else{	
		var obj = datawtestcase;

	}

  $.ajax({
	  
            type: "PUT",
            url : "/contest/"+contestid+"/",
           contentType: "application/json",
            dataType: "html",			
            data: obj,
            success: function (data) {
                alert("Edit problem successfully");
				  $("#problemtitle").val('');
				  $("#problemtimelimit").val('');
				  $("#problemspacelimit").val('');
				  $("#problemheader").val('');
				  $("#problembody").val('');
				  $("#problemfooter").val(''); 
				  $("#problemtestcaseinput").val('');  
				  $("#problemtestcaseoutput").val(''); 
                window.location.replace("/contest/"+contestname+"/");
            },
            error: function (request, status, error) {
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ; 
				
            }
              });
  
 });

 //show contest of user
  function getidprofile(id){    		   		
  $.ajax({
            type: "GET",
            url : '/user/'+id+'/teams/',
            dataType: "html", 				
            success: function (data) {
				var data=(JSON.parse(data)).teams;
				
				 var tr;
        for (var i = 0; i < data.length; i++) {
            tr = $('<tr/>');
            tr.append('<td style="display:none">' + data[i].contests.id + "</td>");
            tr.append("<td>" + data[i].contests.name + "</td>");
            tr.append("<td>" + data[i].contests.starts_on + "</td>");
            tr.append("<td>" + data[i].contests.ends_on + "</td>");
            tr.append("<td>" + data[i].name + "</td>");
            $('#contestinfo').append(tr);
        }

            },
           error: function (request) {                
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ;       	      		
      		}
		});
  } 
 
  function addRowHandlers() {
    var table = document.getElementById("tableId");
    var rows = table.getElementsByTagName("tr");
    for (i = 0; i < rows.length; i++) {
        var currentRow = table.rows[i];
        var createClickHandler = 
            function(row) 
            {
                return function() { 
                                        var cell = row.getElementsByTagName("td")[0];
                                        var id = cell.innerHTML;
                                        alert("id:" + id);
                                 };
            };

        currentRow.onclick = createClickHandler(currentRow);
    }
}

$(document).ready(function () {
		milad();//call 
		$('.close-page').removeClass('close-page').addClass('open-page');
		$('#create_contest_button').click(function() {
			var name = $("input#contest_name").val();
			var c_s = $("#contest_start").find("input").val();
			var c_e = $("#contest_end").find("input").val();
			var start_date = new Date(c_s);
			var end_date = new Date(c_e);
			
			function convertDateToUTC(date) { return new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds()); }

			start_date = convertDateToUTC(start_date);
			var startMillis = start_date.getTime()/1000;
			
			end_date = convertDateToUTC(end_date);
			var endMillis = end_date.getTime()/1000;
			
			$.ajax({
          		type: "POST",
          		url : '/contest/',
          		contentType: "application/json",
          		dataType: "html",
          		data: '{"name" : "' + name + '", "starts_on" : "' + startMillis + '", "ends_on" : "' + endMillis + '"}',
          		success: function (data) {
					swal({
					  title: "Good!",
					  text: "Contest successfully Created",
					  type: "success",
					 
					  closeOnConfirm: false,
					  showLoaderOnConfirm: true,
					},
					function(){
					 window.location.replace("/contest/" + name + "/");
					});             		
          		},
          		error: function (request, status, error) {
					swal("Sorry!", (JSON.parse(request.responseText)).errors, "error"); 	
          		}
        	});			
		});
	});

 //logout
$("#logout").click(function() { 
	
  $.ajax({
            type: "GET",
            url : '/user/logout/',
            dataType: "html",  				
            success: function () {
           	window.location.replace("/user/");
            },
          error: function (request, status, error) { 
			  window.location.replace("/user/");           
            }
            
    });
  });
 
// back to profile
$(".backtoprofile").click(function() { 
	 $.ajax({
            type: "GET",
            url : '/user/get_profile/',
            dataType: "html", 				
            success: function (data) {
				var userlogin=(JSON.parse(data)).username; 
				
				window.location.replace("/user/"+userlogin+"/");         				
            },
           error: function (request) {                
				window.location.replace("/user/");  	      	      		
      		}
		});
		});

//add problem
$("#addproblembtn").click(function() { 
	$("#problemtitle").val('');
  $("#problemtimelimit").val('');
  $("#problemspacelimit").val('');
  $("#problemheader").val('');
  $("#problembody").val('');
  $("#problemfooter").val(''); 
  $("#problemtestcaseinput").val('');  
  $("#problemtestcaseoutput").val('');  

	document.getElementById('titlePage').innerHTML="Add Problems" ;
	document.getElementById('contestinfoforusers').style.display = 'none';	
	document.getElementById('contestinformation').style.display = 'none';
	document.getElementById('contestquestions').style.display = 'none';
	$('#contestaddquestions').show(1000);
	document.getElementById('addproblemsubmitbtn').style.display = 'block';
	document.getElementById('editproblemsubmitbtn').style.display = 'none';
	document.getElementById('contestquestion').style.display = 'none';
	document.getElementById('contestrank').style.display = 'none';	
	document.getElementById('contestteams').style.display = 'none';	
	 $('#contestteam').css('background-color', '#1B325F');
	 $('#questions').css('background-color', '#355C7D');
});
$("#addproblemsubmitbtn").click(function() { 
	
	var problemtitle = $("#problemtitle").val();
	var problemtimelimit = $("#problemtimelimit").val();
	var problemspacelimit = $("#problemspacelimit").val();
	var problemheader = $("#problemheader").val();
	var problembody = $("#problembody").val();
	var problemfooter = $("#problemfooter").val(); 
	var problemtestcaseinput = $("#problemtestcaseinput").val();  
	var problemtestcaseoutput = $("#problemtestcaseoutput").val();  
	var problemtestcaseinput = $("#problemtestcaseinput").val();
	var problemtestcaseoutput = $("#problemtestcaseoutput").val();
	var datawotestcase='{"title": "' + problemtitle + '", "time_limit" : "' + problemtimelimit + '", "space_limit" : "' + problemspacelimit + '", "header" : "' + problemheader + '", "body" : "' + problembody + '", "footer" : "' + problemfooter + '"}';
	var datawtestcase='{"title": "' + problemtitle + '", "time_limit" : "' + problemtimelimit + '", "space_limit" : "' + problemspacelimit + '", "header" : "' + problemheader + '", "body" : "' + problembody + '", "footer" : "' + problemfooter + '","testcases": [ { "input":"'+problemtestcaseinput+'" ,"output":"'+problemtestcaseoutput+'" } ]}';
	if(problemtestcaseinput=="" && problemtestcaseoutput==""){
		var obj = datawotestcase;

	}
	else{	
		var obj = datawtestcase;

	}
	

	$.ajax({
            type: "POST",
            url : "/contest/"+contestid+"/problem/",
           contentType: "application/json",
            dataType: "html",			
            data: obj,
            success: function (data) {
				swal({
					  title: "Good!",
					  text: "add problem successfully",
					  type: "success",
					 
					  closeOnConfirm: false,
					  showLoaderOnConfirm: true,
					},
					function(){
					  $("#problemtitle").val('');
				  $("#problemtimelimit").val('');
				  $("#problemspacelimit").val('');
				  $("#problemheader").val('');
				  $("#problembody").val('');
				  $("#problemfooter").val(''); 
				  $("#problemtestcaseinput").val('');  
				  $("#problemtestcaseoutput").val('');  
                window.location.replace("/contest/"+contestname+"/");
					});    
             
				 
            },
            error: function (request, status, error) {
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ; 
            
              
            }
     });
});	
$("#cancleproblemsubmitbtn").click(function() { 
	$("#problemtitle").val('');
	$("#problemtimelimit").val('');
	$("#problemspacelimit").val('');
	$("#problemheader").val('');
	$("#problembody").val('');
	$("#problemfooter").val(''); 
	$("#problemtestcaseinput").val('');  
	$("#problemtestcaseoutput").val(''); 
	window.location.replace("/contest/"+contestname+"/"); 

});	
//go to user profile
$("#getusername").click(function() {
			window.location.replace("/user/"+username+"/");
		});

$("#jointocontestbtn").click(function() {
	swal({
  title: " ",
  text: "Please wirte your team name",
  type: "input",
  showCancelButton: true,
  closeOnConfirm: false,
  animation: "slide-from-top",
  inputPlaceholder: "Team name"
},
function(inputValue){
  if (inputValue === false) return false;
  
  if (inputValue === "") {
    swal.showInputError("You need to write something!");
    return false;
  }
  //alert('{"contest_id": "' + contestid + '", "team_name" : "' + inputValue + '"}');
  $.ajax({
            type: "POST",
            url :'/team/join_request/',
            data: '{"contest_id": "' + contestid + '", "team_name" : "' + inputValue + '"}',
            dataType: "html",
            contentType: "application/json",
            success: function (data) {
				swal("Good!","Your request submit successfully" , "success") ; 
			} ,
          error: function (request, status, error) { 
		   
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ;		              
           }  
    });
  

  
});
	
 });
$("#backtoproblemlistbtn").click(function() {
	 location.reload();
});	
function acceptorrejectteam(id,flag){
		
		 $.ajax({
	  
            type: "PUT",
            url : "/contest/"+contestid+"/team_acceptation/"+id+"/",
            contentType: "application/json",
            dataType: "html",			
            data: '{ "acceptation":"'+flag+'"}',
            success: function (data) {
				swal({
					  title: "Good!",
					  text: "Your change submit successfully",
					  type: "success",
					 
					  closeOnConfirm: false,
					  showLoaderOnConfirm: true,
					},
					function(){
					  
						location.reload();
					});    
             
              
            },
            error: function (request, status, error) {
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ; 
				
            }
              });
	

}	

$("#contestteam").click(function() { 
	
	  $.ajax({
            type: "GET",
            url :"/contest/"+contestid+"/pending_teams/",
            dataType: "html",  				
            success: function (data) {
			reset();//added by milad
				document.getElementById('titlePage').innerHTML="Teams request" ;
				$('#contestteams').show(1000);	
				document.getElementById('contestinfoforusers').style.display = 'none';
				$('#maintitr').show(1000);
				document.getElementById('contestinformation').style.display = 'none';
				document.getElementById('problemhead').style.display = 'none';
				document.getElementById('addproblemdiv').style.display = 'none';
				document.getElementById('addproblemsubmitbtn').style.display = 'none';
				document.getElementById('editproblemsubmitbtn').style.display = 'none';
				document.getElementById('contestquestions').style.display = 'none';
				document.getElementById('contestquestion').style.display = 'none';
				document.getElementById('contestrank').style.display = 'none';	
				document.getElementById('contestaddquestions').style.display = 'none';
				
				 $('#contestteam').css('background-color', '#355C7D');
				 if(flagteamlist==false){
					var data=(JSON.parse(data)).teams;
					
					 var tr;
					for (var i = 0; i < data.length; i++) {
						tr = $('<tr id="'+data[i].id+'">');								
						tr.append("<td>" + data[i].name + "</td>");
						tr.append("<td>" + data[i].owner.username + "</td>");	
						tr.append("<td>" + data[i].members[0].username +","+data[i].members[1].username + "</td>");		
						tr.append('<td>  <button type="submit" class="btn btn-success submitteam" ><i class="fa fa-check"></i> Accept</button><button  type="submit" class="btn btn-danger rejectteam"><i class="fa fa-remove"></i> Reject</button> </td></tr>');
						//tr.append("<td>" + data[i].name + "</td>");
						$('#contestteams').append(tr);
					}
					$('.rejectteam').click(function(){
					id = $(this).closest('tr').attr('id');
					acceptorrejectteam(id,false);
										
					});
					$('.submitteam').click(function(){
					id = $(this).closest('tr').attr('id');
					acceptorrejectteam(id,true);
									
					});			
					flagteamlist=true;
			}	
				
            },
          error: function (request, status, error) { 
		   
					swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ;		              
           }  
    });
	
});
function reset(){
//reset menu
	$('#contestteam').css('background-color', '#1B325F');
	$('#questions').css('background-color', '#1B325F');
	$('#rank').css('background-color', '#1B325F');
//reset main div
	$("#contestrank").hide();
	$("#contestinformation").hide();
	$("#addproblemdiv").hide();
	$("#contestquestions").hide();
	$("#contestteams").hide()
	$("#contestaddquestions").hide()
	$("#contestquestion").hide()
	
	$("#problemhead").hide()
	$("#maintitr").show()
	///
	//document.getElementById('contestinformation').style.display = 'none';
		//		document.getElementById('problemhead').style.display = 'none';
			//	document.getElementById('addproblemdiv').style.display = 'none';
				//document.getElementById('addproblemsubmitbtn').style.display = 'none';
		//		document.getElementById('editproblemsubmitbtn').style.display = 'none';
		//		document.getElementById('contestquestions').style.display = 'none';
		//		document.getElementById('contestquestion').style.display = 'none';
		//		document.getElementById('contestrank').style.display = 'none';	
			//	document.getElementById('contestaddquestions').style.display = 'none';
	
}
function milad(){//written by milad #########################################################################
	$("#rank").click(function(){
		$.ajax({
			type : "get",
			url : "/contest/" + contestid + "/details/",
			success : function(data ){
					SetToTable((data).contests);
					
					//window.location.replace("#ranklist");
				}
			});
	});
	function SetToTable(rankList){
		//var tableHtml = $("#contestranklist tr").html();//.replace(/<\/?tbody>/g, '');
		var tableHtml = '<tr><td style="display:none"> id </td><td > Team name</td> <td >Problems Solved </td><td> Penalty </td></tr>';
		$.each(rankList, function(key, value){
			var team = value.team;
			tableHtml += '<tr><td >' + team.name + '</td> <td > ' + value.solved_problem_counter + ' </td><td> ' +  value.penalty + ' </td></tr>';
		});
		$("#contestranklist").html(tableHtml);
		reset();
		$('#rank').css('background-color', '#355C7D');
		$("#contestrank").show(1000);
		$("#titlePage").text("Ranking");
	}
 
 
 
var file;
		$("#file_input").change(function(event){
			file = event.target.files[0];
		});
		
	
	$("#sub").click(submit);
	//var a = new FormData 
	function submit(){
		//alert(file);
		//console.log(file);
		//var data = new FormData ()
		//$.each(files, function(key, value)
		//{
		//	data.append(key, value);
		//});
		//console.log(data);
		$.ajax({
			url: '/contest/5666b511dd3ff31ae86bed6c/testcase/1/',
			type: 'POST',
			data: file,
			//cache: false,

			processData: false, // Don't process the files
			contentType: false, // Set content type to false as jQuery will tell the server its a query string request
			//beforeSend: function (request) {
              //      request.setRequestHeader("Content-Type", file.type);
                //},
			success: function(data, textStatus, jqXHR)
			{
				// success
			},
			error: function(jqXHR, textStatus, errorThrown)
			{
				
				console.log('ERRORS: ' + textStatus);
			}
		});
	}
 }

//submition	



</script>
</html>
