<html  lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Home</title>
    <link href="{{ url_for('static', filename='../statics/css/font-awesome.min.css') }} "rel="stylesheet" />
    <link  href="{{ url_for('static', filename='../statics/img/jicon.png') }} " rel="icon" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='../statics/css/sweetalert.css') }} " rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='../statics/js/sweetalert.min.js') }}"  /></script>
     <script src="{{ url_for('static', filename='../statics/js/jquery.nicescroll.min.js') }}" /></script>
    <script src="{{ url_for('static', filename='../statics/js/moment.min.js') }}"  /></script>   
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='../statics/css/style.css') }}" rel="stylesheet" />

    
   
</head>

<body>
	<div id="loading" style="text-align:center;position:relative;top:40%"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> <p>Please wait...</p></div>
<div id="body" style="display:none">
	<ul class=" col-xs-3 col-md-2 leftmenu shadow " id="leftmenu" >
		
		<li class=" usernameitem " id="usernameitem">
			
			<a href="#"><h4 id="getusername" class="leftmenuitem"><img src="{{ url_for('static', filename='../statics/img/j2.png') }}" height="100%"/>  </h4></a>
			<a ><h4 id="getidprof" class="leftmenuitem" style="display:none"></h4></a>
		</li>	
		
		
		<li  id="contest"  >
		 	<a href="#"><h4 class="leftmenuitem"><i  class="fa fa-laptop" style="width:20px; height:20px;"> </i> Contests</h4></a>
		</li>
		
		<li  id="team"  >
		 	<a href="#"><h4 class="leftmenuitem"><i class="fa fa-group" style=" width:20px; height:20px; "></i> Teams</h4></a>
		</li>
		
		<li  id="users"  style="display:none" >
		 	<a href="#"><h4 class="leftmenuitem"><i class="fa fa-user" style="width:20px; height:20px; "></i> Users</h4></a>
		</li>
		
		<li  id="setting"  >
		 	<a href="/user/setting/"><h4 class="leftmenuitem"><i class="fa fa-gears" style=" width:20px; height:20px; "></i> Settings</h4></a>
		</li>
		<li  id="backtoprofile" style="display:none" >
		 	<a href="#" ><h4 class="leftmenuitem"><i class="fa fa-mail-reply"style=" width:20px; height:20px; "></i>Back to profile</h4></a>
		</li>
		
		<li  id="logout"   >
		 	<a href="#"><h4 class="leftmenuitem"><i class="fa fa-sign-out" style=" width:20px; height:20px; "></i> Log out</h4></a>
		</li>
		</ul>

    <div  class="col-xs-offset-3 col-md-offset-2 " >
		<div class="col-xs-12 col-md-12 maintitr">
			<p id="titlePage"> All contest </p>          
		</div>
	</div>
	<div  class="col-xs-offset-3 col-md-offset-2 ">
      	<div id="contents" class="contents " >
			<div id="contestinfoforusers"class="CSSTableGenerator" style="display:none">							
				<table id="contestinfo">
                   <tr>
					   <td > Row number </td>
					   <td style="display:none"> id </td>
					   <td > Name </td>
					   <td > Admin </td>
					   <td style="display:none"> Admin id </td>
					   <td > Sart on </td>
					    <td> End on </td>
					    <td style="display:none"> Your team</td>
					</tr>
                </table>
             </div>		
			<div id="info" style="display:none">
				<label for="usernamecontact">Username:</label>
				<h4 id="usernamecontact" name="usernamecontact"></h4>
				<hr>
				<label for="emailcontact">Email:</label>
				<h4 name="emailcontact" id="emailcontact"></h4>
			</div>
		</div>
   	</div>
</div>
</body>
<script>
	
	
	$(document).ready(function () {
		$(".leftmenu").niceScroll({ cursorheight: 50,cursorcolor:"#BCBCBC"});

	     var id = '{{user_id }}'; 
	     var username=null;
	 
function convertUTCDateToLocalDate(date) {
		var d=moment.utc(date).local();
		var s = d.format("YYYY-MM-DD HH:mm:ss");	
		return (s);   
	}
function changeprofile(username){
		document.title = username;
			document.getElementById('backtoprofile').style.display = 'block';
			$('#info').show(1000);

			document.getElementById('logout').style.display = 'none';
			document.getElementById('users').style.display = 'none';
			document.getElementById('setting').style.display = 'none';
			document.getElementById('contestinfoforusers').style.display = 'none';
			document.getElementById('titlePage').innerHTML="Information" ;		
					 
}
function checkprofile(username){
		 $.ajax({
            type: "GET",
            url : '/user/get_profile/',
            dataType: "html", 				
            success: function (data) {
				var userlogin=(JSON.parse(data)).username;
           if(username===userlogin){

           $('#info').hide();
           $('#contestinfoforusers').show(1000);
           	}
           else{
			   
			  changeprofile(username);
			   
			   }				
            },
           error: function (request) {                
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ;     	      		
      		}
		});
	}
	
	//show username	
     $.ajax({
            type: "GET",
            url : "/user/get_profile/by_id/"+id+"/",
            dataType: "html", 				
            success: function (data) {
		
			 username=(JSON.parse(data)).username;
				checkprofile(username);
				$( '#getusername ' ).append(username);
				$( '#getidprof ' ).html(id);  
				$('#usernamecontact').html((JSON.parse(data)).username);
				$('#emailcontact').html((JSON.parse(data)).email);
				$('#loading').hide();
				$('#body').show();	
					
            },
           error: function (request) {                
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ;      	      		
      		}
		});
$("#getusername").click(function() {
			window.location.replace("/user/"+username+"/");
		});
	// back to profile
$("#backtoprofile").click(function() { 
	 $.ajax({
            type: "GET",
            url : '/user/get_profile/',
            dataType: "html", 				
            success: function (data) {
				var userlogin=(JSON.parse(data)).username; 
				window.location.replace("/user/"+userlogin+"/");         				
            },
           error: function (request) {                
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ;      	      		
      		}
		});
           	
              document.title = "home";
			document.getElementById('usernameitem').style.display = 'block';
			document.getElementById('usernameprofitem').style.display = 'none';
			document.getElementById('backtoprofile').style.display = 'none';
			document.getElementById('logout').style.display = 'block';
			document.getElementById('users').style.display = 'block';
			document.getElementById('setting').style.display = 'block';
			  });
			   
//show contest list
 $.ajax({
            type: "GET",
            url : "/contest/",
            dataType: "html", 				
            success: function (data) {
			
           	var data=(JSON.parse(data)).contests;
           	if(data==""){
				$('#contestinfo').html("There is no contest to show!");
			}	
				 var tr;
			for (var i = 1; i < data.length+1; i++) {
				tr = $('<tr data-href="#contests" id="'+i+'">');
				tr.append('<td >' + i + "</td>");
				tr.append('<td style="display:none">' + data[i-1].id + "</td>");
				tr.append('<td>' + data[i-1].name + "</td>");			
				tr.append('<td >' + data[i-1].owner.username + "</td>");
				tr.append('<td style="display:none">' + data[i-1].owner.id + "</td>");
				tr.append('<td>' + convertUTCDateToLocalDate(data[i-1].starts_on) + "</td>");
				tr.append('<td >' + convertUTCDateToLocalDate(data[i-1].ends_on )+ "</td></tr>");
				
				$('#contestinfo').append(tr);
			
			}
				$('td').click(function(){
					id = $(this).closest('tr').attr('id');
					window.location.replace("/contest/"+data[id-1].name+"/");
					
				});				
            },
           error: function (request) { 
			   if(request.status===405){
				   window.location.replace("/user/"); 
			   }               
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error"); 	      	      		
      		}
		});	
		
//logout
$("#logout").click(function() { 
	
  $.ajax({
            type: "GET",
            url : '/user/logout/',
            dataType: "html",  				
            success: function () {
           	window.location.replace("/user/");
            },
          error: function (request, status, error) { 
			  window.location.replace("/user/");           
            }
            
    });
  });
 
// back to profile
$("#backtoprofile").click(function() { 
	 $.ajax({
            type: "GET",
            url : '/user/get_profile/',
            dataType: "html", 				
            success: function (data) {
				var userlogin=(JSON.parse(data)).username; 
				window.location.replace("/user/"+userlogin+"/");         				
            },
           error: function (request) {                
				window.location.replace("/user/");  	      	      		
      		}
		});
		});

      //contest of user
$("#contest").click(function() { 
	window.location.replace("/user/"+username+"/contest/");
  });
$("#team").click(function() {
	window.location.replace("/user/"+username+"/team/");
  });

  });
  
  
	</script>

</html>

