<html  lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Settings</title>
    <link href="{{ url_for('static', filename='../statics/css/font-awesome.min.css') }} "rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='../statics/css/sweetalert.css') }} " rel="stylesheet" />
    <script src="{{ url_for('static', filename='../statics/js/sweetalert.min.js') }}" /></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='../statics/css/style.css') }}" rel="stylesheet" />
     <script src="{{ url_for('static', filename='../statics/js/jquery.nicescroll.min.js') }}" /></script>
</head>

<body>
	<div id="loading" style="text-align:center;position:relative;top:40%"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> <p>Please wait...</p></div>
<div id="body" style="display:none">
	<ul class=" col-xs-3 col-md-2 leftmenu shadow " id="leftmenu" >
		
		<li class=" usernameitem " id="usernameitem">
			<a href="#"><h4 id="getusername" class="leftmenuitem"></h4></a>
		</li>	

		
		<li  id="contest"  >
			
		 	<a href="#" ><h4 class="leftmenuitem"><i  class="fa fa-laptop" style="width:20px; height:20px;"> </i> Contests</h4></a>
		</li>
		
		<li  id="team"  >
		 	<a href="#"><h4 class="leftmenuitem"><i class="fa fa-group" style=" width:20px; height:20px; "></i> Teams</h4></a>
		</li>
		
		<li  id="users"  style="display:none" >
		 	<a href="#users"><h4 class="leftmenuitem"><i class="fa fa-user" style="width:20px; height:20px; "></i> Users</h4></a>
		</li>
		
		<li  id="setting"  >
		 	<a href="/user/setting/"><h4 class="leftmenuitem"><i class="fa fa-gears" style=" width:20px; height:20px; "></i> Settings</h4></a>
		</li>
		
		<li  id="logout"   >
		 	<a href="#logout"><h4 class="leftmenuitem"><i class="fa fa-sign-out" style=" width:20px; height:20px; "></i> Log out</h4></a>
		</li>
		

	</ul>

     <div class="col-xs-offset-3 col-md-offset-2 row">
		<div class="col-xs-12 col-md-12 maintitr">
			<p id="titlePage"> Settings</p>          
		</div>
	</div>
	<div class="col-xs-offset-3 col-md-offset-2 row">
      	<div  class="contents  col-lg-9 " >
	    	<div id="settingcontent" class="settingcontent" >
	    		
	    		<div id="changeProfilePicture" style="display:none">
	    			<div id="profilePictureWrapper">
	    			</div>
	    			<span class="btn btn-default btn-file"> Browse 
	    				<input type="file">
					</span>
	    		</div>

	    		<div id="changeProfileSetting">
					<div id="useremail">
					<p>Change email and username</p><hr>
	    			<label class=" labelsetting" for="change_username" > Username:</label> 
	    			<input type="text" name="change_username" id="change_username" class="changesetting"/> <br/>
	    				<label class=" labelsetting" > Email:</label> 
						<input type="email" name="change_email" id="change_email" class="changesetting"/> <br/>
						<input type="button" name="changeSetting" id="changeSettingbtn" class="btn btn-primary "value="submit" style="width:170px;"/><br>
						<hr>
						<a id="changepass" href="#change_password" onclick="$('#passworddiv').show();$('#changepass').hide(); $('#useremail').hide();$('#changeuseremail').show();">Change password</a>
						</div>
						<div id="passworddiv"  style="display:none">
							<p>Change password</p><hr>
						<label class="labelsetting" for="change_email" >old password: </label> 
						<input type="password" name="change_password_old" id="change_password_old" class="changesetting"/> <br/>
						<label class="labelsetting" > new password:</label> 
						<input type="password" name="change_password_new" id="change_password_new"class="changesetting"/> <br/>
						<label class=" labelsetting" >re-enter password: </label> 
						<input type="password" name="change_password_new_re" id="change_password_new_re" class="changesetting"/> <br/>
						<input type="button" name="changeSetting" id="changepasswordbtn" class="btn btn-primary "value="Change password" style="width:170px;"/><br>
						<hr>
						<a id="changeuseremail" href="#change_profile" onclick="$('#passworddiv').hide();$('#changeuseremail').hide(); $('#useremail').show();$('#changepass').show();">Change profile</a>

					</div>
	    		</div>
	    	</div>
   		</div>
   	</div>
   
</div>
</body>
<script>
	$(document).ready(function () {
	var username=null;
		$(".leftmenu").niceScroll({ cursorheight: 50,cursorcolor:"#BCBCBC"});
 $('#setting').css('background-color', '#355C7D');
 $.ajax({
		
        type: "GET",
        url : '/user/get_profile/',
        dataType: "html",
        success: function(data) {
			username=(JSON.parse(data)).username;
			$( '#getusername ' ).html(username); 
            $('#change_username').val(username);
            $('#change_email').val((JSON.parse(data)).email);
        },
        error: function(request, status, error) {
				swal("Sorry!", (JSON.parse(request.responseText)).errors, "error"); 
        }
    });
    
    $("input#changeSettingbtn").click(function() { 
    var email = $("input#change_email").val();
    var username = $("input#change_username").val();
    

    if (email != "" && username != "") {

      $.ajax({

        type: "PUT",
        url : '/user/change_profile/',
        contentType: "application/json",
        dataType: "html",
        data: '{"new_username" : "' + username + '", "new_email" : "' + email + '"}',
        success: function (data) {
			swal({
				title: "Good!",
				text: "username and email changed successfully!",
				type: "success",							 
				closeOnConfirm: true,
				showLoaderOnConfirm: true,
				},
				function(){						  
					window.location.reload();
			});	
			
          
        },
        error: function (request, status, error) {
         swal("Sorry!", (JSON.parse(request.responseText)).errors, "error"); 
        }


      });

    }
   
  });
      $("#changepasswordbtn").click(function() { 
		  var password_old = $("input#change_password_old").val();
    var password_new = $("input#change_password_new").val();
    var password_new_re = $("input#change_password_new_re").val();
		if (password_new === password_new_re && password_new != "") {
				$.ajax({

				  type: "PUT",
				  url : '/user/change_password/',
				  contentType: "application/json",
				  dataType: "html",
				  data: '{"old_password" : "' + password_old + '", "new_password" : "' + password_new + '"}',
				  success: function (data) {
					 swal("Good!", "Password changed successfully!", "success");
				  },
				  error: function (request, status, error) {
					 swal("Sorry!", (JSON.parse(request.responseText)).errors, "error"); 
					
				  }


				});
			} else {
				swal("Sorry!","Password doesn't match!", "error");
			  
			}
			$("input#change_password_old").val(' ');
			$("input#change_password_new").val(' ');
			$("input#change_password_new_re").val(' ');
	});
    
 $("#getusername").click(function() {
			window.location.replace("/user/"+username+"/");
		});    
 	    //logout	   
$("#logout").click(function() { 
	
  $.ajax({
            type: "GET",
            url : '/user/logout/',
            dataType: "html",  				
            success: function () {
           	window.location.replace("/user/");
            },
          error: function (request, status, error) { 
			  window.location.replace("/user/");          
            }
            
    });
  });
      //contest of user
$("#contest").click(function() { 
	window.location.replace("/user/"+username+"/contest/");
  });
$("#team").click(function() {
			window.location.replace("/user/"+username+"/team/");
		});
 $('#loading').hide();
	$('#body').show();
 
  });
  
   
</script>
</html>

