<html  lang="en">
<head>
<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <link href="{{ url_for('static', filename='../statics/css/font-awesome.min.css') }} "rel="stylesheet" /> 
        <link  href="{{ url_for('static', filename='../statics/img/jicon.png') }} " rel="icon" > 
    <title>JUST</title>
   
   
    
    <link href="{{ url_for('static', filename='../statics/css/bootstrap.css') }} "rel="stylesheet" />
    <link href="{{ url_for('static', filename='../statics/css/sweetalert.css') }} " rel="stylesheet" />
    <script src="{{ url_for('static', filename='../statics/js/sweetalert.min.js') }}" /></script>
    <script src="{{ url_for('static', filename='../statics/js/jssor.slider.min.js') }}" /></script>
    <script src="{{ url_for('static', filename='../statics/js/jquery-2.1.3.js') }}" /></script>
    <script src="{{ url_for('static', filename='../statics/js/bootstrap.js') }}" /></script>
    <link href="{{ url_for('static', filename='../statics/css/style.css') }}" rel="stylesheet" />

        
</head>

<body> 
	<div id="loading" style="text-align:center;position:relative;top:40%"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> <p>Please wait...</p></div>

<div id="body" class=" user">
	
	<div class="row top-menu" >
		<nav class="navbar navbar-inverse  shadow">
		  <div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand">
					
					<span style="color:#1B325F"><img src="{{ url_for('static', filename='../statics/img/j1.png') }}" alt="JUST"  height="120%"></img> Just </span> 
				</div>			  
		   </div>
			  <ul class="nav navbar-nav navbar-right">
				<li class="active"><a data-toggle="tab" href="#login">Login</a></li>
				<li><a data-toggle="tab" href="#register">Sign up</a></li>
				<li><a data-toggle="tab" href="#aboutus">About us</a></li>
			  </ul>		   
		  </div>
		</nav>	
	</div>
	<div class="row col-xs-offset=1 col-md-offset-1 content">
	<div class="left col-xs-10 col-md-6" >	
         	
	</div>
	<div class="right">

		<div class="tab-content  col-xs-12 col-md-12">
			
    <div id="login" class="tab-pane fade in active ">
		<div style=" border-bottom: 1px solid #1B325F;">
		<p >Login</p>
		</div>
		<input type="text" name="username_login" id="username_login" placeholder="Username" required /><br>             
        <input type="password" name="password_login" id="password_login" placeholder="Password" required /><br>                
        <input type="button" name="login" id="loginbtn" class="btn btn-primary "value="Login" /><br>
     </div>
    <div id="register" class="tab-pane fade">
		<div style=" border-bottom: 1px solid #1B325F;">
		<p >Sign up</p>
		</div>	        
		<input type="text" name="username" id="username_signup" placeholder="Username" required /><br>             
        <input type="password" name="password" id="password_signup" placeholder="Password" required /><br>    
        <input type="password" name="password" id="re-password_signup" placeholder="re-Enter Password" required /><br>
        <input type="email" name="username" id="email_signup" placeholder="Email" /><br>             
        <input type="button" name="signup" id="signupbtn" class="btn btn-primary "value="register" /><br>
    </div>
    <div id="aboutus" class="tab-pane fade">
		<div style=" border-bottom: 1px solid #1B325F;">
		<p >About us</p>
		</div>
		fdgdfg
      
    </div>
    </div>
	</div>    
	</div>		
	<div class="footer">Copyright © 2015 by JUST team </div>
 </div>

</body>
<script language="javascript">
	jQuery(document).ready(function() {
	 $('#login').keypress(function(e){
      if(e.keyCode==13)
      $('#loginbtn').click();
    });
     $('#register').keypress(function(e){
      if(e.keyCode==13)
      $('#signupbtn').click();
    });
       
	//sign up
$("#signupbtn").click(function() { 
var username = $("input#username_signup").val();
var password = $("input#password_signup").val();  
var password2 = $("input#re-password_signup").val();  
var email = $("input#email_signup").val(); 
if (password===password2) {
  $.ajax({
            type: "POST",
            url : '/user/signup/',
            contentType: "application/json",
            dataType: "html",
            data: '{"username": "' + username + '", "password" : "' + password + '", "email" : "' + email + '"}',
             beforeSend: function() {
				$('#register').append('please wait...');
			},
            success: function (data) {
				swal({
					  title: "Good!",
					  text: "Account successfully created",
					  type: "success",
					 
					  closeOnConfirm: false,
					  showLoaderOnConfirm: true,
					},
					function(){
					 window.location.replace("/user/");
					});         
     					
            },
            error: function (request, status, error) {  
				if(request.status===409) {         
				swal("Sorry!", "Username or email alredy exists", "error") ; 
				}else if(request.status===406){
					swal("Sorry!", "Please fill required field", "error") ; 
				}
          }
              

          });
      }
      else
      {
			swal("Sorry!", "Passwords don't match ", "error") ;      
      }
        $("#username_signup").val('');
		 $("#password_signup").val('');  
		 $("#re-password_signup").val('');  
		 $("#email_signup").val('');
  });
//login
$("#loginbtn").click(function() { 

var username = $("input#username_login").val();
var password = $("input#password_login").val();  

  $.ajax({
            type: "POST",
            url : '/user/login/',
            contentType: "application/json",
            dataType: "html",
            data: '{"username": "' + username + '", "password" : "' + password + '"}',
             beforeSend: function() {
				$('#login').append('please wait...');
			},
            success: function (data) {
                window.location.replace("/user/"+username+"/");
            },
            error: function (request, status, error) {
                    
      		swal("Sorry!", (JSON.parse(request.responseText)).errors, "error") ; 
              

            }
                });
  $("#username_login").val('');
		 $("#password_login").val('');                
                
  });
$('#loading').hide();
	$('#body').show();
});
</script>
</html>

